
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multi Shop</title>
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="../LayoutShopCamera/assets/fonts/fontawesome-free-5.15.3-web/css/all.min.css">
    <!-- Bootstrap -->
    <link href="../LayoutShopCamera/assets/bootstrap-5.0.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <!-- Animate -->
    <link rel="stylesheet" href="../LayoutShopCamera/assets/css/animate.min.css" />
    <!-- Owl Carousel -->
    <link rel="stylesheet" href="../LayoutShopCamera/assets/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="../LayoutShopCamera/assets/css/owl.theme.default.min.css" />
    <!-- CSS -->
    <link rel="stylesheet" href="../LayoutShopCamera/assets/css/base.css">
    <link rel="stylesheet" href="../LayoutShopCamera/assets/css/main.css">
    <link rel="stylesheet" href="../LayoutShopCamera/assets/css/index.css">
</head>
<body>
    <!-- Header top -->
    <div class="header__top container-fluid">
        <div class="row bg-secondary py-1 px-xl-5">
            <div class="col-lg-6 d-none d-lg-block">
                <div class="header-top-left__item d-flex align-items-center h-100">
                    <a href="#" class="header-top-left__link">Giới thiệu</a>
                    <a href="#" class="header-top-left__link">Liên hệ</a>
                    <a href="#" class="header-top-left__link">Trợ giúp</a>
                </div>
            </div>
            <div class="col-lg-6 text-center text-lg-end">
                <!-- <div class="header-top-right__item">
                    <a href="" class="header-top-right__link header-top-right__delimiter">Đăng nhập</a>
                    <a href="" class="header-top-right__link">Đăng ký</a>
                </div> -->
                <div class="d-inline-flex dropdown">
                    <button type="button" class="btn btn-sm btn-light dropdown-toggle rounded-0 shadow-none" id="userDropDownMenu"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        nghxtrung
                    </button>
                    <div class="dropdown-menu dropdown-menu-end rounded-0" aria-labelledby="userDropDownMenu">
                        <button type="button" class="dropdown-item">Tài khoản của tôi</button>
                        <button type="button" class="dropdown-item">Đơn mua</button>
                        <button type="button" class="dropdown-item">Đăng xuất</button>
                    </div>
                </div>
                <div class="d-inline-flex d-lg-none">
                    <a href="#" class="ms-2 d-flex align-items-center">
                        <i class="fas fa-heart text-dark me-1"></i>
                        <span class="navbar-action-item__quantity text-dark border border-dark rounded-circle d-block">0</span>
                    </a>
                    <a href="#" class="ms-2 d-flex align-items-center">
                        <i class="fas fa-shopping-cart text-dark me-1"></i>
                        <span class="navbar-action-item__quantity text-dark border border-dark rounded-circle d-block">0</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- Header mid -->
    <div class="header__mid container-fluid">
        <div class="row bg-light py-3 px-xl-5 d-none d-lg-flex">
            <div class="col-4">
                <a href="#" class="logo">
                    <span class="h1 text-uppercase text-primary bg-dark px-2">Multi</span>
                    <span class="h1 text-uppercase text-dark bg-primary px-2">Shop</span>
                </a>
            </div>
            <div class="col-4">
                <form class="input-group">
                    <input type="text" class="form-control shadow-none rounded-0" placeholder="Tìm kiếm sản phẩm">
                    <button type="button" class="header-search__btn btn shadow-none rounded-0">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <div class="col-4">
                <div class="header-mid__contact text-end">
                    <p>Dịch Vụ Khách Hàng</p>
                    <h5>+84 96 783 1727</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Header bottom -->
    <div class="header__bottom container-fluid bg-dark mb-30">
        <div class="row px-xl-5">
            <div class="col-3 position-relative d-none d-lg-block">
                <a class="navbar-category-wrap btn d-flex justify-content-between align-items-center bg-primary"
                   data-bs-toggle="collapse" data-bs-target="#collapseNavbar" aria-expanded="false" aria-controls="collapseNavbar">
                    <h6>
                        <i class="fas fa-bars me-2"></i>
                        Danh mục
                    </h6>
                    <i class="fas fa-angle-down"></i>
                </a>
                @await Component.InvokeAsync("LoaiSpMenu")
            </div>
            <div class="col-lg-9">
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark py-3 py-lg-0 h-100">
                    <a href="#" class="logo d-md-block d-lg-none">
                        <span class="h1 text-uppercase text-dark bg-light px-2">Multi</span>
                        <span class="h1 text-uppercase text-light bg-primary px-2">Shop</span>
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-list collapse navbar-collapse justify-content-between" id="navbarCollapse">
                        <div class="navbar-nav">
                            <a href="#" class="nav-list_link py-1 nav-link active">Trang chủ</a>
                            <a href="#" class="nav-list_link py-1 nav-link">Bài viết</a>
                            <a href="#" class="nav-list_link py-1 nav-link">Liên hệ</a>
                        </div>
                        <div class="navbar-action navbar-nav d-none d-lg-flex">
                            <a href="#" class="navbar-action__item me-3 d-flex align-items-center">
                                <i class="fas fa-heart text-primary me-1"></i>
                                <span class="navbar-action-item__quantity text-light border border-secondary rounded-circle d-block">0</span>
                            </a>
                            <a href="#" class="navbar-action__item d-flex align-items-center">
                                <i class="fas fa-shopping-cart text-primary me-1"></i>
                                <span class="navbar-action-item__quantity text-light border border-secondary rounded-circle d-block">0</span>
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
    <!-- Banner -->
    <div class="container-fluid">
        <div class="row px-xl-5">
            <div class="col-xl-8">
                <div id="carouselIndicators" class="carousel slide carousel-fade mb-30 mb-xl-0" data-ride="carousel">
                    <div class="carousel-indicators">
                        <a role="button" data-bs-target="#carouselIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></a>
                        <a role="button" data-bs-target="#carouselIndicators" data-bs-slide-to="1" aria-label="Slide 2"></a>
                        <a role="button" data-bs-target="#carouselIndicators" data-bs-slide-to="2" aria-label="Slide 3"></a>
                    </div>
                    <div class="banner-left carousel-inner">
                        <div class="banner-left-item carousel-item active">
                            <img class="banner-left-item__img d-block w-100 h-100" src="../LayoutShopCamera/assets/img/banner-left-1.jpg" alt="First slide">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="banner-left-content">
                                    <h1 class="display-4 mb-3 animate__animated animate__fadeInDown">Men Fashion</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                    <a href="#" class="btn btn-outline-light rounded-0 py-2 px-4 mt-3 animate__animated animate__fadeInUp">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="banner-left-item carousel-item">
                            <img class="banner-left-item__img w-100 h-100" src="../LayoutShopCamera/assets/img/banner-left-2.jpg" alt="Second slide">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="banner-left-content">
                                    <h1 class="display-4 mb-3 animate__animated animate__fadeInDown">Women Fashion</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                    <a href="#" class="btn btn-outline-light rounded-0 py-2 px-4 mt-3 animate__animated animate__fadeInUp">Shop Now</a>
                                </div>
                            </div>
                        </div>
                        <div class="banner-left-item carousel-item">
                            <img class="banner-left-item__img w-100 h-100" src="../LayoutShopCamera/assets/img/banner-left-3.jpg" alt="Third slide">
                            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
                                <div class="banner-left-content">
                                    <h1 class="display-4 mb-3 animate__animated animate__fadeInDown">Kids Fashion</h1>
                                    <p class="mx-md-5 px-5 animate__animated animate__bounceIn">Lorem rebum magna amet lorem magna erat diam stet. Sadips duo stet amet amet ndiam elitr ipsum diam</p>
                                    <a href="#" class="btn btn-outline-light rounded-0 py-2 px-4 mt-3 animate__animated animate__fadeInUp">Shop Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-4">
                <div class="product-offer mb-30">
                    <img class="img-fluid" src="../LayoutShopCamera/assets/img/banner-right-1.jpg" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="#" class="btn btn-primary shadow-none rounded-0">Shop Now</a>
                    </div>
                </div>
                <div class="product-offer mb-30">
                    <img class="img-fluid" src="../LayoutShopCamera/assets/img/banner-right-2.jpg" alt="">
                    <div class="offer-text">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="#" class="btn btn-primary shadow-none rounded-0">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid pt-5">
        <div class="row px-xl-5 pb-3">
            <div class="col-lg-3 col-md-6 col-12 service">
                <div class="service__item bg-light">
                    <h1 class="fa fa-check text-primary"></h1>
                    <h5>Quality Product</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 service">
                <div class="service__item bg-light">
                    <h1 class="fa fa-shipping-fast text-primary"></h1>
                    <h5>Free Shipping</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 service">
                <div class="service__item bg-light">
                    <h1 class="fas fa-exchange-alt text-primary"></h1>
                    <h5>14-Day Return</h5>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-12 service">
                <div class="service__item bg-light">
                    <h1 class="fa fa-phone-volume text-primary"></h1>
                    <h5>24/7 Support</h5>
                </div>
            </div>
        </div>
    </div>
    <!-- Categories -->
    <!-- Featured products -->
    <div class="container-fluid pt-5 pb-3">
        <h2 class="title position-relative text-dark text-uppercase mx-xl-5 mb-4">
            <span class="bg-secondary pe-3">Featured products</span>
        </h2>
        <div id="displayProducts" class="row px-xl-5">
        @RenderBody()
        </div>
    </div>
    <!-- Big banner -->
    <div class="container-fluid pt-5 pb-3">
        <div class="row px-xl-5">
            <div class="col-md-6">
                <div class="big-banner-item mb-30">
                    <img src="../LayoutShopCamera/assets/img/banner-right-1.jpg" alt="">
                    <div class="big-banner-item__content">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="" class="btn btn-primary rounded-0 shadow-none">Shop Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="big-banner-item mb-30">
                    <img src="../LayoutShopCamera/assets/img/banner-right-2.jpg" alt="">
                    <div class="big-banner-item__content">
                        <h6 class="text-white text-uppercase">Save 20%</h6>
                        <h3 class="text-white mb-3">Special Offer</h3>
                        <a href="" class="btn btn-primary rounded-0 shadow-none">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Recent products -->
    
    <!-- Trademark -->
    <div class="container-fluid py-5">
        <div class="row px-xl-5">
            <div class="col">
                <div class="owl-carousel">
                    <div class="trademark-item bg-light p-4"><img src="../LayoutShopCamera/assets/img/trademark-1.jpg" alt=""></div>
                    <div class="trademark-item bg-light p-4"><img src="../LayoutShopCamera/assets/img/trademark-2.jpg" alt=""></div>
                    <div class="trademark-item bg-light p-4"><img src="../LayoutShopCamera/assets/img/trademark-3.jpg" alt=""></div>
                    <div class="trademark-item bg-light p-4"><img src="../LayoutShopCamera/assets/img/trademark-4.jpg" alt=""></div>
                    <div class="trademark-item bg-light p-4"><img src="../LayoutShopCamera/assets/img/trademark-5.jpg" alt=""></div>
                    <div class="trademark-item bg-light p-4"><img src="../LayoutShopCamera/assets/img/trademark-6.jpg" alt=""></div>
                    <div class="trademark-item bg-light p-4"><img src="../LayoutShopCamera/assets/img/trademark-7.jpg" alt=""></div>
                    <div class="trademark-item bg-light p-4"><img src="../LayoutShopCamera/assets/img/trademark-8.jpg" alt=""></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Footer -->
    <div class="container-fluid bg-dark text-light mt-5 pt-5">
        <div class="row px-xl-5 pt-5">
            <div class="col-lg-4 col-md-12 mb-5">
                <h5 class="text-uppercase mb-4">Get in touch</h5>
                <p class="mb-4">
                    No dolore ipsum accusam no lorem. Invidunt sed clita kasd clita et et dolor sed dolor. Rebum tempor no vero est magna amet no
                </p>
                <p class="mb-2">
                    <i class="fas fa-map-marker-alt me-3 text-primary"></i>
                    123 Street, New York, USA
                </p>
                <p class="mb-2">
                    <i class="fas fa-envelope me-3 text-primary"></i>
                    info@example.com
                </p>
                <p class="mb-0">
                    <i class="fas fa-phone-alt me-3 text-primary"></i>
                    +012 345 67890
                </p>
            </div>
            <div class="col-lg-8 col-md-12">
                <div class="row">
                    <div class="col-md-4 mb-5">
                        <h5 class="text-uppercase mb-4">Quick shop</h5>
                        <div class="footer-action d-flex flex-column">
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Home
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Our Shop
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Shopping Cart
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Checkout
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Contact us
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-uppercase mb-4">My account</h5>
                        <div class="footer-action d-flex flex-column">
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Home
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Our Shop
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Shopping Cart
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Checkout
                            </a>
                            <a href="#" class="footer-action__link text-light mb-2">
                                <i class="fas fa-angle-right"></i>
                                Contact us
                            </a>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <h5 class="text-uppercase mb-4">Newsletter</h5>
                        <p>Duo stet tempor ipsum sit amet magna ipsum tempor est</p>
                        <form>
                            <div class="input-group">
                                <input type="text" class="form-control shadow-none rounded-0" placeholder="Your Email Address">
                                <button class="btn btn-primary shadow-none rounded-0">Sign Up</button>
                            </div>
                        </form>
                        <h6 class="text-uppercase mt-4 mb-3">Follow us</h6>
                        <div class="d-flex">
                            <a href="#" class="btn btn-primary rounded-0 me-2">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                            <a href="#" class="btn btn-primary rounded-0 me-2">
                                <i class="fab fa-instagram"></i>
                            </a>
                            <a href="#" class="btn btn-primary rounded-0 me-2">
                                <i class="fab fa-twitter"></i>
                            </a>
                            <a href="#" class="btn btn-primary rounded-0 me-2">
                                <i class="fab fa-linkedin-in"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-copyright row mx-xl-5 py-4 border-top">
            <div class="col-12">
                <p>
                    © <a href="#" class="text-primary">Domain</a>. All Rights Reserved. Designed by
                    <a href="#" class="text-primary">HTML Codex</a>
                </p>
            </div>
        </div>
    </div>
    <!-- Bootstrap -->

    <script src="../LayoutShopCamera/assets/bootstrap-5.1.3-dist/js/bootstrap.bundle.min.js"></script>
    <!-- Jquery -->
    <script src="../LayoutShopCamera/assets/js/jquery-3.6.0.min.js"></script>
    <!-- Owl Carousel -->
    <script src="../LayoutShopCamera/assets/js/owl.carousel.min.js"></script>
    <!-- Script -->
    <script src="../LayoutShopCamera/assets/js/index.js"></script>
</body>
</html>